<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.
 
 	<wicket:panel>
        <h3 wicket:id="lbl"></h3>
 		<table>
 			<tr wicket:id="cardList">
                <td >
                    <table>
                        <tr wicket:id="cardListItem"></tr>
                    </table>
                </td>
			</tr>	
	 	</table>	     
	 </wicket:panel>

</body>
</html>