<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.
 
 	<wicket:panel>
 		<table>
 			<tr>
                <td>
                    <a wicket:id="before">before</a>
                    <a wicket:id="after">after</a>
                </td>
                <td >
                    <input type="text" STYLE="width:80px" wicket:id="dateTextField" />
                </td>
			</tr>	
	 	</table>	     
	 </wicket:panel>

</body>
</html>