<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.
 
 	<wicket:panel>
 		<table>
 			<tr >
                <!--<span wicket:id="imeDecka"></span>-->
                <td wicket:id="rows" style="vertical-align:top;margin-left:10px">
                    <span wicket:id="row">
                        <span wicket:id="category"></span>
                    </span>
                </td>
			</tr>	
	 	</table>	     
	 </wicket:panel>

</body>
</html>