<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.
 
 <wicket:panel>
 
    <table style="width: 270px;">
        <tr >
            <td>
                <span wicket:id="IDLabel" /><br />
            </td>
            <td>
                <span wicket:id="idLabel" /><br />
            </td>
        </tr>
   		<tr >
     		<td>
     			Card name:    
     		</td>
     		<td>	
     			<span wicket:id="nameLabel" /><br /> 
     		</td>
     	</tr>
     	<tr>
     		<td>
     			Rarity:     
     		</td>
     		<td>
     			<span wicket:id="rarityLabel" /><br />
     		</td>
	   	</tr>
        <!--<tr>-->
            <!--<td>-->
                <!--Mana Cost:-->
            <!--</td>-->
            <!--<td>-->
                <!--<span wicket:id="manaCostLabel" /><br />-->
            <!--</td>-->
        <!--</tr>-->
	    <tr>
	    	<td>
    			 TwoSided:     
     		</td>
     		<td>
     			<span wicket:id="twoSidedLabel" /><br />
     		</td>
	   	</tr>
	    <tr>
	    	<td>
     			Printed:     
     		</td>
     		<td>
     			<span wicket:id="printedLabel" /><br />
     		</td>
	   	</tr>
	    <tr>
	    	<td>
     			Owner:     
     		</td>
     		<td>
     			<span wicket:id="ownerLabel" /><br />
     		</td>
     	</tr>
        <tr>
            <td>
                Date created:
            </td>
            <td>
                <span wicket:id="dateLabel" /><br />
            </td>
        </tr>
        <tr >
            <td>
                <span wicket:id="PURPOSELabel" /><br />
            </td>
            <td>
                <span wicket:id="purposeLabel" /><br />
            </td>
        </tr>
		<tr >
			<td>
				<span wicket:id="INTERESTLabel" /><br />
			</td>
			<td>
				<span wicket:id="interestLabel" /><br />
			</td>
		</tr>
     </table>
	 </wicket:panel>

</body>
</html>