<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.


 <wicket:panel>
     <div class="well">
         <p>Thi buttons set print\unprint status of single selected card from <strong>selected</strong> folder.</p>
         <button class="btn-small btn-success"  wicket:id="pButton" style="float: right; width:auto">
             P
         </button>
         <button class="btn-small btn-danger"  wicket:id="uButton" style="float: right; width:auto">
             U
         </button>
     </div>
 </wicket:panel>

</body>
</html>